<form method="post">
    <label>Email: </label>
    <input type="text" name="email" />

    <label>Pass: </label>
    <input type="text" name="pass"/>
    <button>
        Confirmar
    </button>
    
</form>

<h1>@ViewData["MENSAJE"]</h1>